/* Font dedicato ai menu di navigazione */
@font-face {
  font-family: 'action_manregular';
  src: url('Fonts/Action_Man-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font dedicato alle sezioni descrittive. */
@font-face {
  font-family: 'Blackfriday';
  src: url('Fonts/Blackfriday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Uno scroll visibile dopo il click sui link della barra superiore. */
html {
  scroll-behavior: smooth;
}

/* Si fa in modo che lo sfondo di body copra effettivamente tutta la schermata
   e rimanga fisso durante lo scroll. */
body {
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home,
#about,
#services,
#contact {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}

.topbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  z-index: 2;
}

.topbar a {

  font-family: 'action_manregular';
  font-weight: 300;
  color: #7FFFD4;
  text-decoration: none;
  text-shadow: 4px 4px black;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.topbar a:hover {
  transition: all 0.5s;
  color: #40E0D0;
}
.topbar a:active {
  color: black;
}
 a:visited {
  color: #7FFFD4;
}

.social {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

/* Riquadri descrittivi che verranno poi modificati nello specifico
dal singolo dispositivo. */
.description {
  font-family: 'Blackfriday';
  color: DarkTurquoise;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 4px black;
  font-size: 200%;
}

p {
  align-items: center;
  justify-content: center;
}

/* Segue la parte finale della pagina. */
/* Questa classe manipola i campi da completare tramite input */
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
}

.instructions {
  margin: 2em 2em 0em 2em ;
  text-align: center;
  text-shadow: 3px 3px DarkSlateGray;
}

label {
  text-align: center;
  margin: 1em 2em 0em 2em;
  text-shadow: 3px 3px DarkSlateGray;
}

input {
  justify-content: flex-end;
  margin: 0.5em 2em 0em 2em;
  font-size: 1em;
  font-family: inherit;
}

textarea {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  margin: 0.5em 2em 0em 2em;
  font-size: 1em;
  font-family: inherit;
}

/* Pulsante per inviare il messaggio scritto. */
button {
  align-self: center;
  background-color: #7FFFD4;
  border: none;
  font-family: inherit;
  font-weight: 400;
  color: black;
  padding: 1em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 10em;
  border-radius: 1.5em;
  box-shadow: 3px 4px DarkSlateGray;
}

button:hover {
  transition: all 0.3s;
  background-color: #A8FFF0;
}

button:active {
  background-color: DarkTurquoise;
  box-shadow: 0px 0px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

footer a {
  font-family: 'action_manregular';
  font-weight: 300;
  color: #7FFFD4;
  text-decoration: none;
  text-shadow: 4px 4px black;
  position: relative;
}

footer a:hover {
  transition: all 0.5s;
  color: #40E0D0;
}

footer a:active {
  color: black;
}

/* MOBILE LAYOUT */
@media only screen and (max-width: 414px) {

  /* Lo sfondo cambia a seconda del dispositivo. */
  body {
    background-image: url('Images/bgmobile.jpg');
  }

  #home,
  #about,
  #services,
  #contact {
    justify-content: center;
  }

  .topbar {
    padding-top: 1.7em;
  }

  .topbar a {
    font-size: 22px;
  }

  .social {
    justify-content: center;
  }

  .social img {
    width: 32px;
    height: auto;
    padding:1em;
  }

  .description {
    font-size: 1.05em;
    margin: 4.5em 1.5em 2em 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  /* Negli smartphone è necessario ridurre il riempimento laterale. */
  p {
    padding: 0.3em 0.6em 0.3em 0.6em;
    margin-bottom: 0em;
  }

  .name img{
    display: flex;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .photo img {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }

  .form {
    width: 90%;
  }

  label {
    font-size: 1.3em;
  }

  .instructions {
    justify-content: center;
  }

  textarea {
    width: inherit;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    height: 6em;
    font-size: 110%;
  }

  footer a {
    font-size: 25px;
    margin-top: 0em;
  }

}

/* TABLET LAYOUT */
@media only screen and (min-width: 415px) and (max-width: 1024px) {

  body {
    background-image: url('Images/bgtablet.jpg');
  }

  #home,
  #about,
  #services,
  #contact {
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .topbar {
    padding-top: 2em;
  }

  .topbar a {
    font-size: 28px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .name img{
    display: flex;
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .social {
    justify-content: center;
  }

  .social img {
    width: 48px;
    height: auto;
    padding:2em 2em 0em 2em;
  }

  .photo img {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }

  .description {
    font-size: 1.2em;
    margin: 5em 3em 3em 3em;
    padding: 2 em;
  }

  .description p {
    padding: 3em;
  }

  .form {
    width: 90%;
  }

  input {
    resize: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  textarea {
    resize: none;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    width: inherit;
  }

  footer a {
    font-size: 38px;
    margin-bottom: 2em;
  }
}

/*Desktop Styles */
@media only screen and (min-width: 1025px) {

  body {
    background-image: url('Images/bgdesktop.jpg');
  }

  #about,
  #services,
  #contact {
    justify-content: center;
  }

  #home {
    flex-direction: row;
  }

  .topbar {
    padding-top: 1.5em;
  }

  .topbar a {
    font-size: 38px;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
  }

  header {
    /* border: 1px solid red;*/
    width: 50%;
    position: absolute;
    top: 50%;
    margin-top: -10%;
  }

  .left_part {
    /* border: 1px solid red; debug */
    flex-direction: column;
    margin-right: -10em;
  }

  .name {
    display: flex;
    justify-content: center;
  }

  .name img{
    width: 70%;
  }

  .social {
    justify-content: center;
  }

  .social img {
    width: 64px;
    height: auto;
    padding: 1em;
  }

  .photo {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 30%;
    margin-left: 50%;
    margin-top: -10%;
    top: 50%;
    padding-left: 6%;
    /* border: 1px solid blue; debug*/
  }
  .photo img {

    width: 80%;
  }

  .description {
    font-size: 1em;
    color: DarkTurquoise;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    margin: 7em 10em 1em 10em;
    padding: 0em 3em 1em 3em;
  }

  p {
    padding: 2.5em;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  .form {
    width: 50%;
  }

  label {
    font-size: 1.2em;
  }

  input {
    resize: none;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .instructions {
    font-size: 1.2em;
  }

  textarea {
    resize: none;
    height: 18em;
    width: 50%;
    align-self: center;
  }

  footer a {
    font-size: 38px;
    margin-bottom: 2em;
  }
}
